<div class="page">
  <div class="card">
    <h1 class="title">Chess</h1>
    <p class="subtitle">
      Create a room and challenge your opponent.
    </p>

    <button class="primary-btn" (click)="createRoom()">
      Create Room
    </button>
    <div class="join-section">
      <input
        class="room-input"
        type="text"
        placeholder="Enter room code"
        [(ngModel)]="roomCode"
        maxlength="20"
      />

      <button (keydown.enter)="joinRoom()" class="secondary-btn" (click)="joinRoom()">
        Join Room
      </button>
    </div>
  </div>
</div>