<div class="board" appNoSelect cdkDropListGroup>
  @for (square of gameService.board; track $index; let i = $index) {
    <div
      appNoSelect
      (click)="onClickSquare(square, i)"
      (keydown.enter)="onClickSquare(square, i)"
      (keydown.space)="onClickSquare(square, i)"
      class="square"
      [class.light]="isLightSquare(i)"
      [class.dark]="!isLightSquare(i)"
      [class.highlighted]="isHighlighted(i)"
      cdkDropList
      [cdkDropListData]="i"
      (cdkDropListDropped)="onDrop($event)"
      cdkDropListSortingDisabled
    >
    @if (square !== 0) {
      <img 
        appNoSelect
        cdkDrag
        [cdkDragDisabled]="!isItMyTurn(square)"
        (cdkDragStarted)="onDragStart(square, i)"
        [src]="getPieceImage(square)"
        alt="piece" 
      />
    }
    </div>
  }
</div>