.game-page {
  position: fixed;
  inset: 0;
  min-height: 100vh;
  width: 100vw;
  background: radial-gradient(
    circle at top,
    #1e293b,
    #020617
  );
  background-size: auto 100%;
  display: flex;
  flex-direction: row;

  //Just for the moment need someone to do UI :(
  padding-top: 5vh;
  padding-left: 5vh;
}